---
const { data } = Astro.props;
---

<div
  id="cover"
  class="cover bg-core-primary p-16 -ml-18 rounded-none w-[90%] mb-0"
>
  <small
    class="bg-core-secundary text-core-light px-4 py-2.5 font-mono text-sm inline-block mb-6"
    >{data.header.numDoc} · {data.header.fechaDoc}</small
  >
  <h1
    class="font-mono text-6xl leading-none mb-6 text-core-secundary font-bold"
  >
    {data.header.titulo}
  </h1>
  <h2
    class="font-mono text-5xl text-core-dark leading-none mb-10 tracking-tighter"
  >
    {data.header.subtitulo}
  </h2>
  <p class="font-mono text-base leading-tight text-core-dark">
    <strong>{data.cliente.nombre}</strong><br />{data.cliente.email}
  </p>
</div>

<style>
  /* Ensure background color is visible in PDF */
  .cover {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
</style>
